//
// Estilos del header
//

.page-header {
  position: relative;
  overflow: hidden;
}

.nav-social--header {
  position: absolute;
  top: 10px;
  right: 20px;
}

.page-title--header {
  margin-top: 5px;
  font-size: 2.4rem;
}
